Checks:
    '
        -*,
        *,
        -altera-id-dependent-backward-branch,
        -altera-struct-pack-align,
        -altera-unroll-loops,
        -bugprone-easily-swappable-parameters,
        -bugprone-narrowing-conversions,
        -bugprone-reserved-identifier,
        -cert-dcl37-c,
        -cert-dcl51-cpp,
        -cert-err58-cpp,
        -clang-analyzer-optin.cplusplus.VirtualCall,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-avoid-do-while,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-narrowing-conversions,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-prefer-member-initializer,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-use-default-member-init,
        -fuchsia-default-arguments-calls,
        -fuchsia-default-arguments-declarations,
        -fuchsia-multiple-inheritance,
        -fuchsia-overloaded-operator,
        -fuchsia-statically-constructed-objects,
        -google-default-arguments,
        -google-readability-avoid-underscore-in-googletest-name,
        -google-readability-function-size,
        -google-readability-todo,
        -hicpp-avoid-c-arrays,
        -hicpp-function-size,
        -hicpp-member-init,
        -hicpp-special-member-functions,
        -hicpp-uppercase-literal-suffix,
        -hicpp-use-auto,
        -hicpp-use-override,
        -llvm-header-guard,
        -llvm-include-order,
        -llvm-namespace-comment,
        -llvmlibc-callee-namespace,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-inline-function-decl,
        -llvmlibc-restrict-system-libc-headers,
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -modernize-avoid-c-arrays,
        -modernize-type-traits,
        -modernize-use-auto,
        -modernize-use-default-member-init,
        -modernize-use-override,
        -modernize-use-trailing-return-type,
        -readability-avoid-nested-conditional-operator,
        -readability-convert-member-functions-to-static,
        -readability-identifier-length,
        -readability-redundant-access-specifiers,
        -readability-redundant-member-init,
        -readability-static-accessed-through-instance,
        -readability-uppercase-literal-suffix
    '
CheckOptions:
    cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
    cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: true
HeaderFilterRegex:        '.*src.*'
ExcludeHeaderFilterRegex: '.*(gtest|gmock).*'
