Checks:
    '
        -*,
        *,
        -bugprone-narrowing-conversions,
        -cert-err58-cpp,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-narrowing-conversions,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -fuchsia-default-arguments-calls,
        -fuchsia-default-arguments-declarations,
        -fuchsia-statically-constructed-objects,
        -google-readability-avoid-underscore-in-googletest-name,
        -hicpp-special-member-functions,
        -hicpp-uppercase-literal-suffix,
        -hicpp-use-override,
        -llvm-header-guard,
        -llvm-namespace-comment,
        -llvmlibc-callee-namespace,
        -llvmlibc-implementation-in-namespace,
        -llvmlibc-inline-function-decl,
        -misc-include-cleaner,
        -misc-non-private-member-variables-in-classes,
        -modernize-type-traits,
        -modernize-use-override,
        -modernize-use-trailing-return-type,
        -readability-identifier-length,
        -readability-redundant-access-specifiers,
        -readability-redundant-member-init,
        -readability-uppercase-literal-suffix,
        -cppcoreguidelines-prefer-member-initializer,
        -hicpp-use-auto,
        -hicpp-member-init,
        -modernize-use-auto
    '
CheckOptions:
    cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
    cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors: true
HeaderFilterRegex:        '.*src/.*'
ExcludeHeaderFilterRegex: '.*(gtest|gmock)/.*'
